/* 
    Document   : main
    Created on : May 23, 2013, 5:51:34 PM
    Author     : miguel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html, body {
    background-color: #F5F5DC;
    margin: 5px;
    height: 99%;
}

#wrapDiv {
    min-height: 100%;
}

#mainDiv {
    overflow: auto;
    padding-bottom: 40px;
}

#footerDiv {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear: both;
}

#statusPanel {
    padding: 0px;
}

#footerPanel {
    background-image: url("/resources/img/silver-footer.jpg"); 
    background-size: 100%;
    opacity: 0.7; 
    /*height: 40px;
    bottom: 0;
    width: 99.1%;
    position: relative;
    clear: both;*/
}

#footerPanel_body {
    padding: 0px;
    width: 100%;
}

#footerPanel_body table, .widthest {
    width: 100%;
}

.footerleft {
    width: 33%;
    text-align: left;
}

.footercenter {
    width: 33%;
    text-align: center;
}

.footerright {
    width: 33%;
    text-align: right;
}

#headerPanel {
    background-image: url("/resources/img/header-blue-plain.jpg"); 
    background-size: 100%;
    height: 40px;
    opacity: 0.7;    
}

#headerPanel_body {
    padding: 0px;
    width: 100%;
}

#headerPanel_body table {
    width: 100%;
}

#graphicFooter {
    width: 100%; 
    height: 40px; 
    opacity: 0.5;
}

#headerGrid {
    text-align: right; 
    margin: auto 0 auto auto;
}

#headerGrid td {
    width: 100%; 
}

#welcomeName, .title1, .dashboardSubtitle {
    font-weight: bolder;
}

.headerLinks {
    color: #000 !important;
    padding-left: 20px;
    padding-right: 20px;
}

.panelLinks{
    padding-bottom: 0px;
    background: #CFDFFF;
    border: #C4C0C9 solid 1px;  
    border-top: 0px;
}

#logoHeader {
    right: 50%;
}

.headerStatus {
    padding: 0px !important;
}

.removeSpacing {
    border-spacing: 0px !important;
}

.statusStyle {
    padding: 0px !important;
    background: #CFDFFF;
}

.regularColAndBorderRight {
    border-right: #999 thin solid;
}

.regularColAndBorderRight {
    padding-left: 10px; 
    padding-right: 10px;
}

.subStatusTitle {
    font-weight: bolder;
    padding-left: 10px;
}

.subStatusCol {
    text-align: right;
}

.subStatusCol2 {
    text-align: center;
}

.subStatusCol3 {
    text-align: center;
    border-spacing: 0px !important;
}

.statusGraphic {
    padding-left: 10px; 
    padding-right: 10px;
}

.subStatusPanel {
    padding-left: 10px;
    padding-right: 10px;
}

.regularCol {
    padding-left: 10px;
    padding-right: 10px;
}

.topCol {
    vertical-align: top; 
    padding-left: 10px;
    padding-right: 10px;
}

.middleCol {
    vertical-align: auto; 
}

.bottomCol {
    vertical-align: bottom; 
}

.richTabContent {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.appTable {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.dashboardPanel, .dashboardPanelAndSpace {
    border-bottom: #C4C0C9 solid 1px; 
    width: 100%;
}

.dashboardPanelAndSpace {
    margin-bottom: 5px;
}

.dashboardTitle {
    border-top: 10px;
}

.dashboardSubtitle {
    margin-left: 5px;
}

.verticalSeparator {
    border-left: #C4C0C9 solid 1px;
    margin-left: 5px;
}

.alertPanel, .othersPanel {
    border: #006699 solid 2px; 
    border-radius: 18px;
    background: lightgray;
}

.alertColPanel {
    padding: 3px;
    padding-top: 0px;
}

.alertColPanel table {
    width: 100%;
}

.alertInnerPanel {
    border: #006699 solid 2px; 
    border-radius: 10px;
    background: white; 
    border-spacing: 0px !important;
}

.alertTitle {
    font-size: 20px;
}

.alertInnerTitle {
    font-size: 14px;
}

.alertCritPositNumber, .alertWarnPositNumber, .alertZeroNumber, .separator {
    font-size: 32px;
}

.alertCritPositNumber, .alertWarnPositNumber, .alertZeroNumber {
    font-weight: bold;
}

.alertCritPositNumber {
    color: red;
}

.alertWarnPositNumber {
    color: #f6a828;
}

.alertZeroNumber {
    color: #006699;
}

.alertInnerBottomLeftCol {
    text-align: center;
    border-right: #006699 solid 1px;
}

.alertInnerLeftCol {
    padding-right: 2px;
}

.separator {
    color: #006699;
    height: 100%;
}

.alertsCols {
    padding-left: 5px;
    padding-right: 5px;
}

.othersPanel {
    margin-left: 10%;
    margin-right: 10%;
}

.dashboardCols {
    width: 50%;
}

.jqplot-target {
    color: #000 !important;
}

#computerBarDiv, 
#gpuBarDiv,
#queuedBarDiv,
#runningBarDiv, 
#loadBarDiv, 
#diskBarDiv {
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
}

#computerBarDiv .jqplot-title, 
#gpuBarDiv .jqplot-title,
#queuedBarDiv .jqplot-title,
#runningBarDiv .jqplot-title, 
#loadBarDiv .jqplot-title, 
#diskBarDiv .jqplot-title {
    padding: 0px !important;
    font-size: 0em !important;
    display: none !important;
}

#computerBarDiv .jqplot-xaxis, 
#gpuBarDiv .jqplot-xaxis,
#queuedBarDiv .jqplot-xaxis,
#runningBarDiv .jqplot-xaxis, 
#loadBarDiv .jqplot-xaxis, 
#diskBarDiv .jqplot-xaxis {
    margin: 0px !important;
    margin-top: 1px !important;
    padding: 0px !important;
}

#computerBarDiv .jqplot-series-shadowCanvas, 
#computerBarDiv .jqplot-series-canvas, 
#gpuBarDiv .jqplot-series-shadowCanvas,
#gpuBarDiv .jqplot-series-canvas,
#queuedBarDiv .jqplot-series-shadowCanvas,
#queuedBarDiv .jqplot-series-canvas,
#runningBarDiv .jqplot-series-shadowCanvas,
#runningBarDiv .jqplot-series-canvas, 
#loadBarDiv .jqplot-series-shadowCanvas, 
#loadBarDiv .jqplot-series-canvas, 
#diskBarDiv .jqplot-series-shadowCanvas, 
#diskBarDiv .jqplot-series-canvas {
    background-color: #545454;
} 

.barSubtitle {
    font-size: 7pt
}

/*
#diskBarDiv .jqplot-series-canvas {
    width: 64px;
    height: 64px;
}*/

.rf-tab-cnt {
    height: 100% !important;
    border: #D4CFC7 1px solid !important;
}

.resultPie{
    width: 280px;
}

.centered, .innerPanel, .alertPanel {
    margin: 0 auto;
}

.rf-pp-cnt, .rf-pp-cnt-scrlr {
    background-color: #CFDFFF !important;
}

.outerPanel * {
    border-spacing: 0px !important;
}

.outerPanel td {
    border: #D4CFC7 thin solid;
}

.innerPanel * {
    border: none !important;
}

.tabActive {
    background: #CFDFFF !important; 
}

.rf-tab-hdr-spcr {
    padding: 0px !important;
}

.contentTab {
    padding: 0px !important;
    padding-top: 5px !important;
}

.calendar {
    width: 150px;
}